.top {
    padding-bottom: 20px;
    .location-search {
        margin-top: 20px;
        form {
            .add-on {
                width: 86%;
            }
        }
    }
}

.container-fluid {
    padding: 0 100px;
    .card {
        position: relative;
        display: block;
        margin-bottom: .75rem;
        background-color: #fff;
        border-radius: .25rem;
        border: 1px solid rgba(0,0,0,.125);
        padding: 0 0 20px 0;
        img {
            width: 100%;
            &.thumbnail {
                padding: 0;
                margin-bottom: 0;
                height: 250px
            }
        }

        .card-block {
            padding: 15px;
            .card-title {
                text-transform: uppercase;
            }

            .updated {
                display: inline-block
            }

            .read-on {
                float: right;
                a {
                    text-transform: uppercase;
                }
            }

            .book,
            .edit {
               display: block;
               text-align: center;
               padding: 12px;
            }
            .edit {
                margin-top: 5px;
            }
        }
    }
}
