@import url(https://fonts.googleapis.com/css?family=Playfair+Display|Arvo|Montserrat|Roboto+Slab|Open+Sans:400italic,700italic,400,700);
$black: #212121;
$cool-grey: #9fa3a7;
$dark: #2e3240;
$dark-sky-blue: #28abec;
$greyish-brown: #525252;
$pale-grey: #e8e9ed;
$sun-yellow: #ffcc2e;
$warm-grey: #757575;
$white: #eeeeee;
$sky-blue: #54c7fc;


.nav-container {
    z-index: 20;
    font-family: 'Montserrat', sans-serif;
    background: #333 !important;
    border-color: #fff;
    border-radius: 0;
    font-size: 12px;
    .container-fluid {
        padding-left: 70px;
        padding-right: 70px;
        margin-top: 12px;
        @media only screen and (min-width: 769px) and (max-width: 992px) {
            padding: 9px;
            .navbar-header {
                margin: 0;
            }
        }
        @media only screen and (min-width: 992px) and (max-width: 1200) {
            padding: 0;
        }
    }
    .collapse {
        @media (max-width: 768px) {
            height: 200px;
        }
        @media only screen and (min-width: 769px) and (max-width: 992px) {
            margin: 0px 28px;
        }
        .navbar-header {
            @media (max-width: 768px) {
                margin: 0;
            }
        }
    }
    .nav-list {
        height: 6.5px;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 1.2px;
        text-align: center;
        text-transform: uppercase;
        width: auto;
        color: #ccc;
        float: right;
        @media only screen and (min-width: 769px) and (max-width: 1071px) {
            margin-left: 80px;
        }
        .open {
            .dropdown-toggle {
                background-color: #fff;
                padding-bottom: 25px;
                border-color: inherit;
                // width: 142%;
            }
        }
        li {
            a {
                color: $white;
                &:hover {
                    color: #fff;
                }
            }
        }
        .dropdown-menu {
            font-size: 12px;
            border: 0;
            a {
                padding: 10px;
                color: #555;
                &:hover {
                    color: #000;
                }
            }
        }
    }
    .navbar-right {
        width: auto;
        font-size: 15px;
        text-transform: capitalize;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 1.2px;
        margin-top: 15px;

        li {
            padding-right: 12px;
        }

        a {
            color: $cool-grey;
        }

        .login-option {
            transition: background 200ms ease-out;
            display: inline-block;
            vertical-align: middle;
            background-color: transparent;
            line-height: 1.2em;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 10px 40px;
            border-radius: 50px;
            border: solid 2px $white;
            color: $white;
            &:hover {
                background-color: #09abf4;
                color: $white;
            }
            @media (max-width: 768px) {
                border: none;
            }
        }
    }
}
