{% extends "standard_page.html" %}
{% load cloudinary %}
{% load static %}

{% block extended_css %}
    <link rel="stylesheet" href="{% static 'css/centers/center_styling.css' %}">
{% endblock extended_css %}

{% block main %}
    <!-- deals listing section -->
    <div class="row top">
        {% if messages %}
            <div class="col-sm-12 no-left">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        <a class="close" data-dismiss="alert">×</a>
                        {{ message|safe }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="col-md-8">
            <h1 class="header-text">event centers you might like</h1>
        </div>
        <div class="col-md-4 location-search">
            <form class="navbar-form" role="search" method="GET">
                <div class="input-group add-on">
                    {% for field in form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            {{ field.label_tag }} {{ field }}
                        </div>
                    {% endfor %}
                    <input class="form-control" placeholder="Search by location e.g. Alausa" name="q" id="srch-term" type="text">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row container-fluid" id="deals-section">
        {% for centers in object_list %}
            <div class="col-md-4">
                <div class="card">
                    {% for image in centers.centerphoto_set.all|slice:"1" %}
                        {% if image %}
                            {% cloudinary image.image Image_Effects.LISTING %}
                        {% else %}
                            <img src='http://res.cloudinary.com/theeventdiary/image/upload/v1484508199/ynwcl1sohwoamwvonmzb.jpg' height='150' width='100'/>
                        {% endif %}
                    {% endfor %}
                   <div class="card-block">
                        <h4 class="card-title">{{ centers.name }}</h4>
                        <p class="card-text">{{centers.lga}}, {{ centers.state }}</p>
                        <p class="card-text">{{ centers.price }}</p>
                        <p class="card-text updated"><small class="text-muted">Last updated {{ centers.date_last_modified }}</small></p>
                        <p class="read-on">
                            <a href="{% url 'center_detail' slug=centers.slug %}">More details</a>
                        </p>
                        <a href="{% url 'booking_create' slug=centers.slug %}" class="btn btn-primary book">Book Center</a>
                        {% if request.user.is_staff %}
                            <a href="{% url 'edit-center' slug=centers.slug %}" class="btn btn-primary edit">Edit Center</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
