{% extends "standard_page.html" %}
{% load static %}

{% block extended_css %}
    <link rel="stylesheet" href="{% static 'css/centers/center_styling.css' %}">
{% endblock extended_css %}

{% block main %}
    <!-- deals listing section -->
    <h1 class="header-text">event centers you might like</h1>
    <div class="row container-fluid" id="deals-section">
        {% for centers in center %}
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="{{centers.image}}" alt="{{centers.name}}">
                <div class="card-block">
                    <h4 class="card-title">{{ centers.name }}</h4>
                    <p class="card-text">{{ centers.description|truncatechars:20 }}</p>
                    <p class="card-text">{{ centers.state_name }}</p>
                    <p class="card-text">{{ centers.price }}</p>
                    <p class="card-text updated"><small class="text-muted">Last updated {{ centers.date_last_modified }}</small></p>
                    <p class="read-on">
                        <a href="{% url 'center_detail' name=centers.name %}">More details</a>
                    </p>
                    <a href="{% url 'booking_create' name=centers.name %}" class="btn btn-primary book">Book Center</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
