{% extends "standard_page.html" %}
{% load static %}

{% block head_title %}Successful Booking{% endblock %}

{% block extended_css %}
    <link rel="stylesheet" href="{% static 'css/centers/center_booking_form.css' %}" />
{% endblock %}

{% block main %}
    <h2>Your booking well received. Thank you for booking {{center}}. We would get back to you as soon as we confirm you date of appointment to get a tour around the center.</h2>
    <a class="find green-round-button" href="/center">Checkout more Centers</a>

{% endblock %}
