{% extends "standard_page.html" %}
{% load static %}

{% block main %}
    <div class="row">
        <div class="col s12 m12 l9">
            <div class="row">
                <div class="card success">
                    <div class="card-content">
                        <div class="card-title center-align grey-text text-darken-3">
                          <h4 class="red-text text-lighten-2"> {{form.name.value}} Has Been Successfully Edited</h4>
                        </div>
                    </div>
                    <div><a class="view" href="{% url 'center_listing' %}">View Centers</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
