{% extends "standard_page.html" %}
{% load static %}

{% block main %}
    {% if recovery_mail_status == 1 %}
    <div class="col-sm-8 activation-msg">
        <h1>Recovery mail sent!</h1>
        <p>A mail has been sent to your email address. Follow the link in the mail to reset your password to Recover your theeventdiary account.</p>
    </div>
    {% else %}
    <div class="col-sm-8 activation-msg">
        <h1>Recovery mail failed!</h1>
        <p>Wawu, something happened!!! We cannot send the mail to you at this time.</p>
    </div>
    {% endif %}
{% endblock main %}
