{% extends "standard_page.html" %}
{% load static %}
{% load bootstrap3 %}

{% block main %}
    <div class="container">
        <div class="center-block card" style="width: 70rem;">
            <div class="card-block">
                <h1 class="card-title">Account Recovery</h1>
                <form method="POST" action="" class="">
                    {% csrf_token %}
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="form-group email-input-group">
                        <label for="{{ email_form.email.id_for_label }}">
                            {{ email_form.email.label }}: {% if email_form.email.field.required %}<span class="alt-color">*</span>{% endif %}
                        </label>
                        {{ email_form.email }}
                        {{ email_form.email.errors }}
                    </div>
                    {% bootstrap_button "Recover Password" button_type="submit" button_class="save btn btn-action btn-form-submit" %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock main %}
