{% extends "base.html" %}
{% load static %}

{% block standard_css %}
    <link rel="stylesheet" href="{% static 'css/nav_styling.css' %}">
    {% block extended_css %}
    {% endblock extended_css %}
{% endblock standard_css %}

{% block navbar %}
    <div class="navbar navbar-default nav-container">
        <div class="container-fluid">
            <div class="nav-header">
                <div class="brand">
                   <a href="/">
                       <p class="logo">theevent<span class="logo-span">diary</span></p>
                   </a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav nav-list">
                  <li><a href="/">Home</a></li>
                  <li><a href="/center">All Centers</a></li>
                  {# <li><a href="#">Book a Center</a></li> #}
                  <li><a href="#">Contact Us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                        <div class="dropdown">
                            <a class="dropdown-toggle" type="button" data-toggle="dropdown">Hi {{ user }}
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/account/profile">Profile</a></li>
                                <li><a href="/center">Book a Center</a></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </div>
                    {% else %}
                      <li class="option"><a href="/login" class="login-option">Sign in</a></li>
                      <li class="option"><a class="login-option hidden-xs" href="/register">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock navbar %}

{% block main %}
{% endblock main %}
