{% extends "standard_page.html" %}
{% load static %}

{% block head_title %}Create booking{% endblock %}

{% block extended_css %}    
{% endblock %}

{% block main %}
    <div class="row">
        {% if messages %}
            <div class="col-sm-12 no-left">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        <a class="close" data-dismiss="alert">×</a>
                        {{ message|safe }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="col-xs-11 col-sm-5 col-lg-9 form-card">
            <header class="row">
                <div class="col-lg-6">
                    <h1>Create booking</h1>
                </div>
            </header>
            <div class="row reg-form">
                <div class="col-sm-12">
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="custom-form-group">
                            {{ form.customer_name.errors }}
                            <div class="custom-input-group">
                                <input type="text" name="customer_name" id="customer_name" placeholder="Your Name">
                            </div>
                        </div>
                        <div class="custom-form-group">
                            {{ form.customer_email.errors }}
                            <div class="custom-input-group">
                                <input type="email" name="customer_email" id="customer_email" placeholder="Your Email">
                            </div>
                        </div>
                        <div class="custom-form-group">
                            {{ form.phone_number.errors }}
                            <div class="custom-input-group">
                                <input type="tel" name="phone_number" id="phone_number" placeholder="Enter Phone Number (eg +234123456789)">
                            </div>
                        </div>
                        <div class="custom-form-group">
                            {{ form.booking_start_date.errors }}
                            <div class="custom-input-group">
                                <input type="date" name="booking_start_date" id="booking_start_date" placeholder="Date of Event">
                            </div>
                        </div>
                        <div class="custom-form-group">
                            {{ form.booking_end_date.errors }}
                            <div class="custom-input-group">
                                <input type="date" name="booking_end_date" id="booking_end_date" placeholder="End Date of Event">
                            </div>
                        </div>
                        <div class="row center-buttons">
                            <div>
                                <input type="submit" value="Book" class="btn btn-action btn-form-submit" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
