{% extends "standard_page.html" %}
{% load static %}
{% load cloudinary %}
{% load widget_tweaks %}

{% block head_title %}Create Center{% endblock %}

{% block extended_css %}
    <link rel="stylesheet" href="{% static 'css/centers/new_center.css' %}" />
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-xs-11 col-sm-5 col-lg-6 form-card">
            <h1>New Center</h1>
            <div class="row reg-form">
                <div class="col-sm-12">
                    <form method="POST" class="new-center-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="custom-form-group">
                            <div class="custom-input-group">
                                {% for field in form %}
                                    <div class="{{field.label|lower}}">
                                        {{ field.errors }}
                                        {{ field.label_tag}} {{ field|add_class:"form-field" }}
                                    </div>
                                {% endfor %}

                                {{ formset.management_form }}
                                {% for form in formset %}
                                    {{ form }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row center-buttons">
                            <input type="submit" value="Save" class="save btn btn-action btn-form-submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
